body{
  background-color: #ee4035;
}

.App{
  background-color: #fdf498;
  border-radius: 10px;
  min-height: 450px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color:  #f37736;
  border: 0;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  color: white;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

#to-do-form input::placeholder{
 color: white;
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 40px;
  width: 80px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0392cf;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
  color: white;
}



