.list{
    color: #fdf498;
    width: 300px;
    background-color: #7bc043;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons{
    margin: 0 5px;
    font-size: 15px;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

.list p input:focus{
    outline: none;
}